includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/pepakriz/phpstan-exception-rules/extension.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - tests/PHPStan/disallowedCalls.neon

parameters:
    level: max
    paths:
        - src

    exceptionRules:
        uncheckedExceptions:
            - LogicException
            - Nette\InvalidStateException
            - Nette\MemberAccessException

    ignoreErrors:
        - # intended
            message: '#PHPDoc tag @throws with type Latte\\CompileException is not compatible with parent#'
            path: src/Bridges/TexyLatte/TexyModeMacro.php
        - # intended
            message: '#Return type \(void\) of method Nepada\\Bridges\\TexyLatte\\TexyModeMacro::nodeOpened\(\) should be compatible#'
            path: src/Bridges/TexyLatte/TexyModeMacro.php
