includes:
    - phar://phpstan.phar/vendor/pepakriz/phpstan-exception-rules/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-nette/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-nette/rules.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src

    exceptionRules:
        uncheckedExceptions:
            - LogicException
            - Nette\InvalidStateException
            - Nette\MemberAccessException

    ignoreErrors:
        -
            message: '#PHPDoc tag @throws with type Latte\\CompileException is not compatible with parent#' # intended
            path: %currentWorkingDirectory%/src/Bridges/TexyLatte/TexyModeMacro.php
        -
            message: '#Return type \(void\) of method Nepada\\Bridges\\TexyLatte\\TexyModeMacro::nodeOpened\(\) should be compatible#' # intended
            path: %currentWorkingDirectory%/src/Bridges/TexyLatte/TexyModeMacro.php

        -
            message: '#Call to an undefined method Nette\\DI\\Definitions\\Definition::addSetup\(\)#' # it's actually ServiceDefinition, cannot use phpdoc hint because of BC with Nette 2.4
            path: %currentWorkingDirectory%/src/Bridges/TexyDI/TexyExtension.php

    reportUnmatchedIgnoredErrors: false
