includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
    - tests/PHPStan/disallowedCalls.neon
    - tests/PHPStan/shipmonk.neon

parameters:
    level: max
    paths:
        - src

    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - LogicException
            - Nette\InvalidStateException
            - Nette\MemberAccessException

    ignoreErrors:
        - # false positive
            message: "#^Parameter \\#1 \\$value of method Generator\\<int,array\\|null,array\\<int, Latte\\\\Compiler\\\\Nodes\\\\AreaNode\\|Latte\\\\Compiler\\\\Tag\\|null\\>,Nepada\\\\Bridges\\\\TexyLatte\\\\TexyNode\\>\\:\\:send\\(\\) expects array\\{Latte\\\\Compiler\\\\Nodes\\\\AreaNode, Latte\\\\Compiler\\\\Tag\\|null\\}, mixed given\\.$#"
            count: 1
            path: src/Bridges/TexyLatte/TexyNode.php
        - # false positive
            message: "#^Instanceof between Nepada\\\\Bridges\\\\TexyLatte\\\\TexyNode and Nepada\\\\Bridges\\\\TexyLatte\\\\TexyNode will always evaluate to true\\.$#"
            count: 1
            path: src/Bridges/TexyLatte/TexyNode.php
        - # false positive
            message: "#^Unused match result detected, possible returns\\: string$#"
            count: 1
            path: src/Bridges/TexyLatte/TexyLatteExtension.php
        - # pre-validated config
            message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
            identifier: foreach.nonIterable
            count: 1
            path: src/Bridges/TexyDI/TexyExtension.php
