{block|texyTypo}TYPO: ... example@example.com, http://example.com{/block}
{block|texyLine}LINE: ... example@example.com, http://example.com <p>paragraph</p>{/block}
{block|texy}BLOCK:
... example@example.com, http://example.com <p>paragraph</p>

Paragraph
{/block}
{texyMode custom}
{block|texyTypo}TYPO: ... example@example.com, http://example.com{/block}
{block|texyLine}LINE: ... example@example.com, http://example.com <p>paragraph</p>{/block}
{block|texy}BLOCK:
... example@example.com, http://example.com <p>paragraph</p>

Paragraph
{/block}
{texyMode default}
{block|texyTypo}TYPO: ... example@example.com, http://example.com{/block}
{block|texyLine}LINE: ... example@example.com, http://example.com <p>paragraph</p>{/block}
{block|texy}BLOCK:
... example@example.com, http://example.com <p>paragraph</p>

Paragraph
{/block}
{/texyMode}
{/texyMode}