{var $textTypo = "TYPO: ... example@example.com & http://example.com"}
{var $textLine = "LINE: ... example@example.com & http://example.com <p>paragraph</p>"}
{var $textBlock = "BLOCK:\n... example@example.com & http://example.com <p>paragraph</p>\n\nParagraph\n"}
{$textTypo|texyTypo:custom}
{$textLine|texyLine:custom}
{$textBlock|texy:custom}
{block|texyTypo:custom}LatteBlock {$textTypo}{/block}
{block|texyLine:custom}LatteBlock {$textLine|noescape}{/block}
{block|texy:custom}LatteBlock {$textBlock|noescape}{/block}
