{var $tag = '<br>'}

{texy}
    Simple block...
{/texy}

{texy}
    Texy Block {$tag}

    <span title="{$tag}">example@example.com & http://example.com</span>
{/texy}

<p>
    {texyLine}
        Texy Line {$tag}

        <span title="{$tag}">example@example.com & http://example.com</span>
    {/texyLine}
</p>
